.about {
  &__title {
    color: #243f4d;
    @extend %DMSans-700;
    font-size: 36px;
  }

  &__text {
    color: #243f4d;
    line-height: 30px;
  }
}

.about-top {
  margin-bottom: 120px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }

  &__num-box {
    margin-top: 125px;
    display: flex;
  }

  &__num {
    display: block;
    font-size: 140px;
    color: #a3bbc8;
    @extend %Rubik-700;
    padding-right: 25px;
  }

  &__list-box {
    margin-top: -23px;
  }

  &__list {
    @extend %Rubik-400;
    font-size: 16px;
    color: #243f4d;
    line-height: 30px;
  }

  &__title {
    padding: 50px 0 45px;
  }

  &__text {
    padding-bottom: 63px;
  }

  &__items {
    display: flex;
    padding-top: 25px;
    border-top: 1px solid #e6eaf0;
    justify-content: space-between;
    max-width: 530px;
  }

  &__item {
    @extend %DMSans-700;
    position: relative;
    padding-right: 20px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:first-child {
      margin-left: 57px;
    }

    &:last-child {
      padding-right: 27px;
    }
  }

  &__item--projects,
  &__item--revenue,
  &__item--awards {
    border-right: 1px solid #e6eaf0;

    &:last-child {
      border: none;
    }
  }

  &__item::before {
    position: absolute;
    content: '';
  }

  &__item--projects::before {
    background-image: url('../images/icons/about-icon1.svg');
    width: 36px;
    height: 37px;
    left: -58px;
    top: 19px;
  }

  &__item--revenue::before {
    background-image: url('../images/icons/about-icon2.svg');
    width: 43px;
    height: 39px;
    left: -66px;
    top: 18px;
  }

  &__item--awards::before {
    background-image: url('../images/icons/about-icon3.svg');
    width: 41px;
    height: 40px;
    left: -61px;
  }

  &__item-title {
    font-size: 36px;
    color: #243f4d;
  }

  &__item-text {
    font-size: 16px;
    color: #4c4c4c;
  }
}

.about-center {
  padding: 87px 0 77px;
  margin-bottom: 127px;
  background-color: $bg;

  &__items {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    color: #243f4d;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    margin-bottom: 20px;
  }

  &__num {
    font-size: 36px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 18px;
  }
}

.about-bottom {
  margin-bottom: 120px;

  &__inner {
    display: flex;
  }

  &__info {
    max-width: 306px;
    margin-right: 100px;
  }

  &__title {
    margin-bottom: 35px;
  }

  &__text {
    margin-bottom: 45px;
  }

  &__info-link {
    color: #fff;
    @extend %DMSans-700;
    font-size: 15px;
    background-color: #a3bbc8;
    padding: 18px 60px 15px 19px;
    border-radius: 5px;
  }

  &__team-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 30px;
  }

  &__team-worker {
    max-width: 325px;
    height: 110px;
    background-color: #fff;
    margin-top: -53px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);

  }

  &__name-box {
    margin-right: 50px;
  }

  &__team-name {
    @extend %DMSans-700;
    font-size: 22px;
    line-height: 26px;
    color: #436372;
  }

  &__team-text {
    color: #61637b;
  }

  &__team-inst,
  &__team-google {
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border-radius: 50%;
    margin-right: 7px;
  }

  &__team-inst,
  &__team-google {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__team-inst::before,
  &__team-google::before {
    position: absolute;
    content: '';
  }

  &__team-inst::before {
    background-image: url('../../images/icons/inst.svg');
    width: 17px;
    height: 17px;
  }

  &__team-google::before {
    background-image: url('../../images/icons/google.svg');
    width: 23px;
    height: 15px;
  }

}