#map {
  height: 340px;
  width: 500px;
}

.contact {

  &__subtitle,
  &__title {
    text-align: center;
    @extend %DMSans-700;
  }

  &__subtitle {
    color: #a3bbc8;
    font-size: 16px;
    margin-bottom: 15px;
  }

  &__title {
    font-size: 35px;
    color: #436372;
    margin-bottom: 60px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
  }

  &__item {
    max-width: 370px;
    width: 100%;
    height: 380px;
    text-align: center;
    padding: 70px 50px;
    background-color: #fbfbfb;
    transition: all .3s;
    color: #565872;
    font-size: 16px;

    a {
      display: block;
      color: #565872;
    }

    &:hover {
      border: 2px solid #a3bbc8;

      path {
        fill: #fff;
      }

      .contact__item-img {
        background-color: #a3bbc8;
      }
    }
  }

  &__item-img {
    height: 80px;
    width: 80px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  &__item-title {
    font-size: 20px;
    @extend %DMSans-700;
    color: #222222;
    margin-bottom: 20px;
  }

  &__item--address {
    font-style: normal;
  }
}

.contact-form {
  max-width: 620px;
  width: 100%;

  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__input {
    width: 300px;
    background-color: #fafafa;
    border: none;
    padding: 20px;

    &:focus {
      outline: 2px solid #a3bbc8;
    }
  }

  &__input::placeholder,
  &__textarea::placeholder {
    color: #77788d;
    text-transform: uppercase;
  }

  &__textarea {
    padding: 20px;
    background-color: #fafafa;
    resize: none;
    border: none;
    width: 100%;
    height: 175px;
    margin-bottom: 20px;

    &:focus {
      outline: 2px solid #a3bbc8;
    }
  }

  &__label {
    position: relative;
  }

  &__label::before {
    content: '';
    position: absolute;
    right: 20px;
    width: 18px;
    height: 15px;
  }

  &__label--name::before {
    background-image: url('../images/icons/contact-user.svg');
    transform: translateY(186%);
    width: 14px;
    height: 13.5px;
  }

  &__label--email::before {
    background-image: url('../images/icons/contact-email.svg');
    height: 12px;
    transform: translateY(212%);
  }

  &__label--textarea::before {
    background-image: url('../images/icons/contact-message.svg');
    height: 15px;
    transform: translateY(186%);
  }

  &__btn {
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #a3bbc8;
    color: #fff;
    @extend %DMSans-700;
    padding: 15px 40px;
    border-radius: 5px;
  }
}