.insights {
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__title {
    text-align: left;
    color: $accent;
  }

  &__link {
    font-size: 16px;
    @extend %DMSans-700;
    color: #262626;
    padding-right: 25px;
    position: relative;

    &::after {
      content: url('../images/icons/insights-arrow.svg');
      position: absolute;
      right: 0;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    position: relative;
    background-color: #fff !important;
  }

  &__news {
    position: absolute;
    background-color: #a3bbc8;
    line-height: 20px;
    @extend %DMSans-700;
    text-transform: uppercase;
    color: #fff;
    padding: 7px 30px;
    transform: translateY(-50%);
    left: 27px;
    border-radius: 18px;
  }

  &__text {
    display: block;
    margin: 0 auto;
    color: #262626;
    font-size: 18px;
    line-height: 22px;
    @extend %DMSans-500;
    padding: 33px 3px 10px;
    max-width: 315px;
    min-height: 115px;
    border-bottom: 1px solid #e0e0e0;
  }

  &__post-info {
    display: flex;
    padding: 10px 33px 25px;
    font-size: 12px;
    color: #222933;
    @extend %Rubik-400;

    span {
      font-family: MyriadPro-Regular;
      padding-right: 5px;
    }
  }

  &__info-data {
    padding-right: 30px;
  }

  &__info-author {
    font-size: 12px;
    color: #222933;
    @extend %Rubik-400;
  }
}