@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 45px 0;

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item+.menu__item {
    margin-left: 35px;
  }

  &__item:first-child {
    margin-left: 150px;
  }

  &__link {
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    @extend %Rubik-500;
  }
}

.user-nav {
  display: flex;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--search {
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
    border-radius: 50%;
    margin-right: 20px;
  }

  &__purchases {
    display: flex;
    border-radius: 25px;
    background-color: $bg;
    justify-content: space-around;
  }

  &--heart,
  &--cart {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 32px;
  }

  &--heart {
    padding: 35px 35px 15px 35px;
  }

  &--cart {
    padding: 35px 40px 12px 25px;
    position: relative;

    &::before {
      content: '';
      background-color: rgb(255, 255, 255);
      opacity: 0.4;
      width: 1px;
      height: 32px;
      position: absolute;
      top: 8px;
      left: 0;
    }
  }

  &__num {
    position: absolute;
    top: 11px;
    right: 27px;
    width: 16px;
    height: 16px;
    text-align: center;
    @extend %DMSans-400;
    line-height: 16px;
    font-size: 10px;
    color: #243d4d;
    border-radius: 50%;
    background-color: #fff;
  }

  &--menu {
    width: 50px;
    height: 50px;
    background-color: #436372;
    border-radius: 50%;
    margin-left: 20px;
  }
}

.footer {
  font-size: 14px;
}

.address {
  font-style: normal;
}

.footer-top {
  display: flex;
  margin-top: 80px;
  padding-bottom: 50px;
  border-bottom: 1px solid #dae4e9;
  justify-content: space-between;

  &__logo {
    margin-bottom: 20px;
    display: block;
  }

  &__title {
    font-size: 16px;
    line-height: 21px;
    @extend %DMSans-700;
    color: #1f2044;
    margin: 16px 0 21px;
    text-transform: uppercase;
  }

  &--contact {
    max-width: 200px;
  }

  &__list-item {
    margin-bottom: 8px;
  }

  &__list-link {
    line-height: 24px;
  }

  &--form {
    max-width: 275px;
    width: 100%;
    margin-left: 70px;
  }

  &--nav {
    margin-right: 75px;
    margin-left: 35px;
  }

  &__text {
    max-width: 250px;
    margin-bottom: 25px;
  }

  &__input,
  &__btn {
    border: none;
    @extend %DMSans-400;
    padding: 6px 17px;
  }

  &__input {
    background-color: $bg-light;
    max-width: 170px;

    &::placeholder {
      color: #234969;
      font-size: 12px;
    }
  }

  &__btn {
    @extend %btn;
    margin-left: -4px;
  }
}

.footer-bottom {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;

  &__list {
    display: flex;
  }

  &__item {
    padding: 0 12px;
    border-right: 1px solid $default;
  }

  &__item:last-child {
    border: none;
    padding-right: 25px;
  }
}

.slider-top {
  &__inner {
    background-image: url('../images/slider/slider-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 820px;
    display: flex;
    position: relative;
  }

  &__items {
    min-height: 720px;
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
  }

  &__content {
    min-height: 370px;
    padding-top: 20px;
    padding-left: 2px;
  }

  &__title {
    text-transform: uppercase;
    margin-top: 10px;
    color: #243f4d;
    font-size: 72px;
    line-height: 72px;
    @extend %Rubik-500;
    max-width: 450px;
    margin: 23px 0;
  }

  &__text {
    max-width: 370px;
    width: 100%;
    margin-bottom: 54px;
    font-size: 18px;
    line-height: 30px;
  }

  &__link {
    @extend %btn;
    font-size: 15px;
    padding: 23px 100px 20px 30px;
    position: relative;

    &::after {
      content: url('../images/icons/arrow.svg');
      position: absolute;
      right: 19px;
    }
  }

  &__img-inner {
    align-self: flex-end;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -56px;
    right: 4px;
    left: 0;

    li {
      padding: 0 6px;
      line-height: 0;

      button {
        padding: 0;
        font-size: 10;
        border: none;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: #fde3cc;
      }

      &.slick-active {
        button {
          background-color: #fff;
        }
      }
    }
  }

  &__info {
    display: flex;
    min-height: 170px;
  }

  &__info-item {
    display: flex;
    background-color: $bg-light;
    width: 100%;
    border-right: 1px solid rgba(36, 67, 77, 0.1);

    &:last-child {
      border: none;
    }
  }

  &__info-support,
  &__info-delivery,
  &__info-paymet {
    margin: 0 auto;
    position: relative;
    padding-left: 60px;
  }

  &__info-support::before {
    content: url('../images/icons/slider-info-item1.svg');
    position: absolute;
    top: 49px;
    left: -15px;
  }

  &__info-delivery::before {
    content: url('../images/icons/slider-info-item2.svg');
    position: absolute;
    top: 51px;
    left: -17px;
  }

  &__info-paymet::before {
    content: url('../images/icons/slider-info-item3.svg');
    position: absolute;
    top: 52px;
    left: -30px;
  }

  &__info-title {
    color: #414141;
    font-size: 18px;
    @extend %DMSans-700;
    margin: 45px 0 10px;
  }

  &__info-text {
    max-width: 220px;
    @extend %DMSans-400;
    font-size: 16px;
  }
}

.product {
  &__title {
    padding: 70px 0 30px 0;
  }

  &__filter-btn {
    text-align: center;
  }

  &__items {
    display: grid;
    min-height: 800px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
  }

  &__btn {
    border: none;
    background-color: transparent;
    color: $default;
    font-size: 16px;
    margin-bottom: 75px;
    @extend %DMSans-700;
    margin-left: 20px;
  }

  &__btn:focus {
    outline: transparent;
    border: 2px solid $accent;
  }

  &__bottom {
    margin-top: 185px;
  }

  &__bottom-items {
    display: flex;
    justify-content: space-between;
  }

  &__bottom-item {
    min-height: 390px;
    background-color: #feefe2;
    width: 100%;
    margin-right: 30px;
    position: relative;
    display: flex;
    justify-content: inherit;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }
  }

  &__image {
    position: absolute;
    transform: translateX(60%);
    bottom: 83px;
  }

  &__bottom-descr--right,
  &__bottom-descr--left {
    color: #243f4d;
  }

  &__bottom-descr--right {
    max-width: 450px;
    margin-right: 28px;
  }

  &__bottom-descr--left {
    max-width: 346px;
    margin-right: 93px;
  }

  &__bottom-title {
    @extend %DMSans-700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 15px;
  }

  &__bottom-text {
    @extend %Rubik-400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  &__bottom-link {
    display: inline-block;
    padding: 18px 81px 18px 29px;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    position: relative;

    &::after {
      content: url('../images/icons/arrow-black.svg');
      position: absolute;
      right: 24px;
    }
  }
}

.mixitup-control-active {
  color: $accent;
}


.product-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  max-width: 270px;
  height: 380px;
  padding: 30px 0 37px 0;
  text-align: center;
  overflow: hidden;
  position: relative;

  &:hover .product-item__link-box {
    transform: translateY(0);
  }

  &__link-box {
    position: absolute;
    transition: all .5s;
    display: flex;
    bottom: 150px;
    transform: translateY(700%);
  }

  &__link {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 17px;
    transition: all .3s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: #a3bac7;

      path {
        fill: #fff;
      }
    }
  }

  &__title {
    color: #243f4d;
    @extend %DMSans-500;
    font-size: 16px;
    line-height: 40px;
  }

  &__price {
    color: #a3bbc8;
    font-size: 16px;
    @extend %DMSans-700;
  }
}

.design {
  margin-top: 35px;
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 30px;
    margin-bottom: 120px;
  }
  
  &__descr {
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 370px;
    height: 245px;
    padding: 40px 35px 0;
    @extend %DMSans-700;
  }

  &__descr-title {
    max-width: 175px;
    font-size: 20px;
    color: $accent;
  }
  
  &__video {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
  }

  &__video-play::before {
    content: url('../images/icons/play-btn.svg');
  }
}

.insights {
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  
  }
  &__title {
    text-align: left;
  }
  &__link {
    font-size: 16px;
    @extend %DMSans-700;
    color: #262626;
    padding-right: 25px;
    position: relative;
    &::after {
      content: url('../images/icons/insights-arrow.svg');
      position: absolute;
      right: 0;
    }
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 370px;
    position: relative;
    background-color: #fff !important;
  }
  &__news {
    position: absolute;
    background-color: #a3bbc8;
    line-height: 20px;
    @extend %DMSans-700;
    text-transform: uppercase;
    color: #fff;
    padding: 7px 30px;
    transform: translateY(-50%);
    
    left: 27px;
    border-radius: 18px;
  }
  &__text {
    margin: 0 auto;
    color: #262626;
    font-size: 18px;
    line-height: 22px;
    @extend %DMSans-500;
    padding: 33px 3px 10px;
    max-width: 315px;
    min-height: 115px;
    border-bottom: 1px solid #e0e0e0;
  }
  &__post-info {
    display: flex;
    padding: 10px 33px 25px;
    font-size: 12px;
    color: #222933;
    @extend %Rubik-400;
    span {
      font-family: MyriadPro-Regular;
      padding-right: 5px;
    }
  }
  &__info-data {
    padding-right: 30px;
  }
}

.partners {
  background-color: $bg-light;
  padding: 260px 0px 90px;
  margin: -176px 0 1px;
  &__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}










@import 'media';