.header {
  padding: 44px 0 50px;

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item+.menu__item {
    margin-left: 35px;
  }

  &__item:first-child {
    margin-left: 150px;
  }

  &__link {
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    @extend %Rubik-500;
  }
}

.user-nav {
  display: flex;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    &--search {
      width: 50px;
      height: 50px;
      background-color: #edf1f4;
      border-radius: 50%;
      margin-right: 20px;
    }

    &--heart,
    &--cart {
      position: relative;
      display: flex;
      align-items: flex-end;
      height: 32px;
    }

    &--heart {
      padding: 35px 35px 15px 35px;
    }

    &--cart {
      padding: 35px 40px 12px 25px;
      position: relative;

      &::before {
        content: '';
        background-color: rgb(255, 255, 255);
        opacity: 0.4;
        width: 1px;
        height: 32px;
        position: absolute;
        top: 8px;
        left: 0;
      }
    }

    &--menu {
      width: 50px;
      height: 50px;
      background-color: #436372;
      border-radius: 50%;
      margin-left: 20px;
    }
  }


  &__purchases {
    display: flex;
    border-radius: 25px;
    background-color: $bg;
    justify-content: space-around;
  }

  &__num {
    position: absolute;
    top: 11px;
    right: 27px;
    width: 16px;
    height: 16px;
    text-align: center;
    @extend %DMSans-400;
    line-height: 16px;
    font-size: 10px;
    color: #243d4d;
    border-radius: 50%;
    background-color: #fff;
  }
}