.modal {
  max-width: 505px;
  margin: 0 auto 120px;
  font-size: 14px;
  @extend %Rubik-400;
  color: #436372;

  &__form {
    padding-bottom: 30px;
    border-bottom: 2px solid #f6f6f6;
    margin-bottom: 30px;
  }

  &__label {
    display: block;
    font-size: 14px;
    color: #436372;
    @extend %Rubik-400;
    margin-bottom: 25px;
  }

  &__input {
    margin-top: 10px;
    display: block;
    border: 2px solid #f6f6f6;
    width: 100%;
    padding: 15px 15px;
  }

  &__btn {
    width: 100%;
    @extend %Rubik-500;
    font-size: 18px;
    border: none;
    padding: 20px 0;
  }

  &__btn--blue {
    color: #fff;
    background-color: #a3bbc8;
    margin: 25px 0 30px;
  }

  &__error {
    float: right;
  }

  &__error {
    font-size: 14px;
    @extend %Rubik-400;
    color: #436372;
  }

  &__text {
    display: block;
    text-align: center;
  }

  &__btn--white {
    margin-top: 25px;
    display: block;
    background-color: #fff;
    border: 2px solid #a3bbc8;
    color: #243f4d;
  }
}

